# this context is used to build the subgraph deployer (packages/subgraph/deployer.Dockerfile)
# ignore everything
*
# but subgraph deps
!/environments/
!/packages/subgraph/
/packages/subgraph/generated/
/packages/subgraph/build/
/packages/subgraph/.drone.yml
