# Compiled output
/dist

# Dependency directories
/node_modules

# IDE files
/.vscode
/.idea

# Miscellaneous
/.DS_Store
/.env
/*.log
/*.env

# TypeScript specific
*.tsbuildinfo

# tests output
/coverage

# sonar output
.scannerwork