@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* iExec Yellow/iexec-yellow-300 = #FCD15A */
    --iexec-yellow-300: 44 96% 67%;
    --iexec-yellow-300_2: hsl(
      44 96% 67%
    ); /* Do not use: Just to see the color */

    /* Grey/grey-50 = #FCFCFC = rgb(252 252 252) */
    --grey-50: 0 0% 99%;
    --grey-50_2: hsl(0 0% 99%); /* Do not use: Just to see the color */

    /* Grey/grey-100 = #F2F2F7 */
    --grey-100: 240 24% 96%;
    --grey-100_2: hsl(240 24% 96%); /* Do not use: Just to see the color */

    /* Grey/grey-500 = #82828E = rgb(130 130 142) */
    /*--grey-500: 240 5% 53%;*/
    /*--grey-500_2: hsl(240 5% 53%); !* Do not use: Just to see the color *!*/

    /* Grey/grey-700 = #303038 = rgb(48 48 56) */
    /*--grey-700: 240 8% 20%;*/
    /*--grey-700_2: hsl(240 8% 20%); !* Do not use: Just to see the color *!*/

    /* Grey/grey-800 = #1D1D24 = rgb(29 29 36) */
    --grey-800: 240 11% 13%;
    --grey-800_2: hsl(240 11% 13%); /* Do not use: Just to see the color */

    /* Grey/grey-900 = #0D0D12 */
    --grey-900: 240 16% 6%;
    --grey-900_2: hsl(240 16% 6%); /* Do not use: Just to see the color */

    --primary: var(--iexec-yellow-300);
    --primary-foreground: var(--grey-800);

    --accent: var(--grey-100);
    --accent-foreground: 222.2 47.4% 11.2%;

    --background: var(--grey-900);
    --foreground: var(--grey-50);

    /* border */
    --button: var(--grey-800);

    /* ring */
    --ring: 222.2 84% 4.9%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.video-container {
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
}
